*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'poppins', sans-serif;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}
.white.active {
  background-color: #CCC;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;

  color: #fff;
}
.black.active {
  background-color: #333;
}

.piano-note {
  padding: 10px;
  text-align: center;
}
.key-press {
  margin-top: auto;
  justify-self: center;
  font-weight: bold;
  
}
.piano-note {
  margin-top: auto;
  font-style: italic;
  font-size: 14px;
}